@model Simple_solutions.Models.SearchPropertiesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SearchPropertiesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.processorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processorType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.processorClockSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processorClockSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.processorcores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.processorcores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memorySlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memorySlots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memorySpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memorySpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.graphicCardSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.graphicCardSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.graphicCardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.graphicCardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardDrivetype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardDrivetype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardDriveCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardDriveCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opticalDriveCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opticalDriveCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.systemUnitFormfactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.systemUnitFormfactor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
