@model IEnumerable<Simple_solutions.Models.SearchPropertiesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.processorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processorClockSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processorcores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memorySlots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memorySpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.graphicCardSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.graphicCardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hardDrivetype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hardDriveCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opticalDriveCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.systemUnitFormfactor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.processorType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processorClockSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processorcores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memorySlots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memorySpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.graphicCardSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.graphicCardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hardDrivetype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hardDriveCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opticalDriveCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.systemUnitFormfactor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
