@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/jquery.js"></script>

<div id="wrapper">
    @using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
    { 
    <div class="listitem">
        <img src="~/Images/processor.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.processorNaam</td>
                    </tr>
                    <tr>
                        <td class="key">TYPE</td>
                        <td class="value">@ViewBag.processorType</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Kloksnelheid</td>
                        <td class="value">@ViewBag.processorSnelheid</td>
                    </tr>
                    <tr>
                        <td class="key">CORES</td>
                        <td class="value">@ViewBag.processorCores</td>
                    </tr>
                    <tr>
                        <td class="key">Socket</td>
                        <td class="value">@ViewBag.processorSocket</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.processorNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.processorUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.processorprijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.processorPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
    }
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
    {
    <div class="listitem">

        <img src="~/Images/moederbord.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.moederbordNaam</td>
                    </tr>
                    <tr>
                        <td class="key">TYPE</td>
                        <td class="value">@ViewBag.moederbordType</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Aantal Slots</td>
                        <td class="value">@ViewBag.moederbordSlots</td>
                    </tr>
                    <tr>
                        <td class="key">Formfactor</td>
                        <td class="value">@ViewBag.moederbordFormfactor</td>
                    </tr>
                    <tr>
                        <td class="key">Socket</td>
                        <td class="value">@ViewBag.moederbordSocket</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.moederbordNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.moederbordUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.moederbordPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.moederbordPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
    {
    <div class="listitem">

        <img src="~/Images/geheugen.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.geheugenNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Slot</td>
                        <td class="value">@ViewBag.geheugenSlots</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Werk geheugen</td>
                        <td class="value">@ViewBag.geheugen</td>
                    </tr>
                    <tr class="bg">
                        <td class="key">Klok snelheid</td>
                        <td class="value">@ViewBag.geheugenSnelheid</td>
                    </tr>
                    <tr class="bg">
                        <td class="key">Type</td>
                        <td class="value">@ViewBag.geheugenType</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.geheugenNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.geheugenUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.geheugenPrijs"></td>
                    </tr>

                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.geheugenPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
{ 
    <div class="listitem">

        <img src="~/Images/grafischekaart.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.grafischekaartnaam</td>
                    </tr>
                    <tr>
                        <td class="key">Geheugen</td>
                        <td class="value">@ViewBag.grafischekaartvideogeheugen</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Type</td>
                        <td class="value">@ViewBag.grafischekaarttype</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.grafischekaartnaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.grafischekaartUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.grafischekaartPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.grafischekaartPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>


        </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
{
        <div class="listitem">

        <img src="~/Images/hardeschijf.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.hardeschijfNaam</td>
                    </tr>
                    <tr>
                        <td class="key">TYPE</td>
                        <td class="value">@ViewBag.hardeschijfType</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Opslag</td>
                        <td class="value">@ViewBag.hardeschijfOpslag</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.hardeschijfNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.harderschijfUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.harderschijfPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.harderschijfPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div class="listitem">

        <img src="~/Images/optischedrives.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.optischedrivesNaam </td>
                    </tr>
                    <tr>
                        <td class="key">Categorie</td>
                        <td class="value">@ViewBag.optischedrivesCategoriee</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.optischedrivesNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.optischedrivesUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.optischedrivesPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.optischedrivesPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div class="listitem">

        <img src="~/Images/behuizing.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.behuizingNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Vormfactor</td>
                        <td class="value">@ViewBag.behuizingVormfactor</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.behuizingNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.behuizingUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.behuizingPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.behuizingPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div class="listitem">

        <img src="~/Images/voeding.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.voedingNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Wattage</td>
                        <td class="value">@ViewBag.voedingWatt</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.voedingNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.voedingUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.voedingPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.voedingPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
@using (Html.BeginForm("About", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div class="listitem">

        <img src="~/Images/koeler.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.koelerNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Socket</td>
                        <td class="value">@ViewBag.koelerSocket</td>
                        <td style="display:none"> <input type="text" id="name" name="name" value="@ViewBag.koelerNaam"></td>
                        <td style="display:none"> <input type="text" id="url" name="url" value="@ViewBag.koelerUrl"></td>
                        <td style="display:none"> <input type="text" id="price" name="price" value="@ViewBag.koelerPrijs"></td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.koelerPrijs</h2>
                <button id="kopen" type="submit"> Bestel</button>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->
}
</div><!--end wrapper-->