@{
    ViewBag.Title = "About";
}

<div id="wrapper">

    <div class="listitem">

        <img src="~/Images/processor.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">
      
                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.processorNaam</td>
                    </tr>
                    <tr>
                        <td class="key">TYPE</td>
                        <td class="value">@ViewBag.processorType</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Kloksnelheid</td>
                        <td class="value">@ViewBag.processorSnelheid</td>
                    </tr>
                    <tr>
                        <td class="key">CORES</td>
                        <td class="value">@ViewBag.processorCores</td>
                    </tr>
                    <tr>
                        <td class="key">Socket</td>
                        <td class="value">@ViewBag.processorSocket</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.processorPrijs</h2>
                <a id="kopen" href="@ViewBag.processorUrl"target="_blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->


    <div class="listitem">

        <img src="~/Images/moederbord.png" alt="processor" />
       

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.moederbordNaam</td>
                    </tr>
                    <tr>
                        <td class="key">TYPE</td>
                        <td class="value">@ViewBag.moederbordType</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Aantal Slots</td>
                        <td class="value">@ViewBag.moederbordSlots</td>
                    </tr>
                    <tr>
                        <td class="key">Formfactor</td>
                        <td class="value">@ViewBag.moederbordFormfactor</td>
                    </tr>
                    <tr>
                        <td class="key">Socket</td>
                        <td class="value">@ViewBag.moederbordSocket</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.moederbordPrijs</h2>
                <a id="kopen" href="@ViewBag.moederbordUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->

    <div class="listitem">

        <img src="~/Images/geheugen.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.geheugenNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Slot</td>
                        <td class="value">@ViewBag.geheugenSlots</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Werk geheugen</td>
                        <td class="value">@ViewBag.geheugen</td>
                    </tr>
                    <tr class="bg">
                        <td class="key">Klok snelheid</td>
                        <td class="value">@ViewBag.geheugenSnelheid</td>
                    </tr>
                    <tr class="bg">
                        <td class="key">Type</td>
                        <td class="value">@ViewBag.geheugenType</td>
                    </tr>
                   
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.geheugenPrijs</h2>
                <a id="kopen" href="@ViewBag.geheugenUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->


    <div class="listitem">

        <img src="~/Images/grafischekaart.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">
              
                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.grafischekaartnaam</td>
                    </tr>
                    <tr>
                        <td class="key">Geheugen</td>
                        <td class="value">@ViewBag.grafischekaartvideogeheugen</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Type</td>
                        <td class="value">@ViewBag.grafischekaarttype</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.grafischekaartPrijs</h2>
                <a id="kopen" href="@ViewBag.grafischekaartUrl" target=" _blank"></a>
               

        </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->


    <div class="listitem">

        <img src="~/Images/hardeschijf.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.hardeschijfNaam</td>
                    </tr>
                    <tr>
                        <td class="key">TYPE</td>
                        <td class="value">@ViewBag.hardeschijfType</td>
                    </tr>

                    <tr class="bg">
                        <td class="key">Opslag</td>
                        <td class="value">@ViewBag.hardeschijfOpslag</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.harderschijfPrijs</h2>
                <a id="kopen" href="@ViewBag.harderschijfUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->

    <div class="listitem">

        <img src="~/Images/optischedrives.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.optischedrivesNaam </td>
                    </tr>
                    <tr>
                        <td class="key">Categorie</td>
                        <td class="value">@ViewBag.optischedrivesCategoriee</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.optischedrivesPrijs</h2>
                <a id="kopen" href="@ViewBag.optischedrivesUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->


    <div class="listitem">

        <img src="~/Images/behuizing.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.behuizingNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Vormfactor</td>
                        <td class="value">@ViewBag.behuizingVormfactor</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.behuizingPrijs</h2>
                <a id="kopen" href="@ViewBag.behuizingUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->

    <div class="listitem">

        <img src="~/Images/voeding.png" alt="processor" />


        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.voedingNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Wattage</td>
                        <td class="value">@ViewBag.voedingWatt</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.voedingPrijs</h2>
                <a id="kopen" href="@ViewBag.voedingUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->

    <div class="listitem">

        <img src="~/Images/koeler.png" alt="processor" />

        <div class="resultaten">

            <div class="resultatenLinks">

                <table>
                    <tr class="bg">
                        <td class="key">NAAM</td>
                        <td class="value">@ViewBag.koelerNaam</td>
                    </tr>
                    <tr>
                        <td class="key">Socket</td>
                        <td class="value">@ViewBag.koelerSocket</td>
                    </tr>
                </table>

            </div><!--end resultatenLinks-->

            <div class="resultatenRechts">
                <h2 id="prijs">€ @ViewBag.koelerPrijs</h2>
                <a id="kopen" href="@ViewBag.koelerUrl" target=" _blank"></a>

            </div><!--end resultatenRechts-->

        </div><!--end resultaten-->

    </div><!--end listitem-->



</div><!--end wrapper-->