
@{

}
@section featured {

<script src="~/Scripts/jquery.js"></script>
<script>


	$(function(){
	  $('.drop').click(function(){
		$(this).next('.dropdown').slideToggle();
		$(this).toggleClass('active');
	});

		$(function() {
   		 $("img")
        .click(function() {
				if ($(this).attr("src").indexOf("On") > -1){
					var src = $(this).attr("src").replace('On','');
            		 $(this).attr("src", src);
				}
				else {
					 var src = $(this).attr("src").match(/[^\.]+/) + "On.png";
            		 $(this).attr("src", src);
				}
       		 })
		});
	});

    
	$(function() {
	    $('.submit').click(function(){
	        $("#divLoading").show();
	    })
	});



</script>
<div id="wrapper">

    <!--LOADINGSCREEN-->

    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #000; z-index: 30001; opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 30%; left: 38%;  font-size:18px; font-weight:bold; color: #FFF;">
            Uw samenstelling wordt gemaakt, een moment geduld aub...
            <br />
            <img style="margin:0 auto; margin-top:10px;" src="~/images/loading.gif" />    
        </p>
    </div>

    <!--end divLoading-->

    
    <form id="builder" method="post">
        @using (Html.BeginForm(FormMethod.Post))
        {


            <div class="contentContainer">

                <div class="item">
                    <a class="drop" href="#"><img src="~/Images/processor.png" alt="processor" /></a>
                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>TYPE</h3>

                            @Html.DropDownList("processorTypeResult", ViewData["processorTypeDD"] as List<SelectListItem>)


                            <h3>SNELHEID</h3>

                            @Html.DropDownList("processorClockSpeedResult", ViewData["processorClockSpeedDD"] as List<SelectListItem>)

                            <h3>CORES</h3>


                            @Html.DropDownList("processorCoresResult", ViewData["processorCoresDD"] as List<SelectListItem>)


                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/moederbord.png" alt="moederbord" /></a>

                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>GEHEUGENSLOTS</h3>

                            @Html.DropDownList("memorySlotsResult", ViewData["memorySlotsDD"] as List<SelectListItem>)

                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/geheugen.png" alt="geheugen" /></a>

                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>SNELHEID</h3>

                            @Html.DropDownList("memorySpeedResult", ViewData["memorySpeedDD"] as List<SelectListItem>)

                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/grafischekaart.png" alt="grafischekaart" /></a>

                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>VIDEOGEHEUGEN</h3>

                            @Html.DropDownList("graphicCardSpeedResult", ViewData["graphicCardSpeedDD"] as List<SelectListItem>)

                            <h3>TYPE</h3>

                            @Html.DropDownList("graphicCardTypeResult", ViewData["graphicCardTypeDD"] as List<SelectListItem>)

                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

            </div><!--end contenContainer-->

            <div class="contentContainer">

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/hardeschijf.png" alt="hardeschijf" /></a>

                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>SOORT</h3>

                            @Html.DropDownList("hardDriveTypeResult", ViewData["hardDriveTypeDD"] as List<SelectListItem>)

                            <h3>OPSLAG</h3>

                            @Html.DropDownList("hardDriveCapacityResult", ViewData["hardDriveCapacityDD"] as List<SelectListItem>)

                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/optischedrives.png" alt="optischedrives" /></a>

                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>CATEGORIE</h3>

                            @Html.DropDownList("opticalDriveCategoryResult", ViewData["opticalDriveCategoryDD"] as List<SelectListItem>)

                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

                <div class="item">
                    <a class="drop" href="#"><img src="~/images/behuizing.png" alt="behuizing" /></a>

                    <div class="dropdown">
                        <div class="dropdownContainer">

                            <h3>VORMFACTOR</h3>

                            @Html.DropDownList("systemUnitFormfactorResult", ViewData["systemUnitFormfactorDD"] as List<SelectListItem>)

                        </div><!--end dropdownContainer-->
                    </div><!--end dropdown-->
                </div><!--end item-->

                <div id="submit">

                    <a href=@Url.Action("Admin", "Admin")><img src="~/images/admin.png" alt="admin" /></a>

                    <input class="submit" type="submit" value="" onclick="Load();">


                </div><!--end submit-->

            </div><!--end contenContainer-->
        }
    </form>
</div>

}
